
body {
    font-family: "halyard-display", sans-serif;
    line-height: 1.7;
    color: black;
}

h1 {
    font-weight: 700 !important;
    color: rgb(255, 115, 0);
    margin: auto !important;
    padding-left: 30px ;
}

a {
    color: black
}

img {
    padding: 10px;
    width: 100%;
}

/* Nav Bar */
.top-nav {
 background-color: rgb(251, 251, 131);
 padding-top: 5px;
 padding-bottom: 5px;

}

.top-nav p {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: rgb(255, 115, 0);
}

.top-nav i
.top-nav span {
    vertical-align: middle;
}

.social-links a {
    width: 100px;
    height: 100px;
}

.navbar {
    align-items: end;
    padding-left: 30px;
}

.moving-element {
    width: 500px;
    height: 200px;
    background-color:  white;
    animation: move 30s infinite;
    font-size: 100px;
    color: black;
    font-family: 'League Gothic', sans-serif;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    margin: 0;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(1280px); 
    }
    100% {
      transform: translateX(1280px); 
    }
  }

  .col-sm {
    margin: auto;
  }

  h2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  h3 {
    color:rgb(255, 115, 0)
  }